# Build results
[Bb]in/
[Ob]j/
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Application settings / local databases
*.db
*.db-shm
*.db-wal
